<h2>Thankyou for your order!</h2>
<a asp-controller="home">Return Home</a>

@foreach (var item in ViewBag.Order.Pizzas)
{
  <p>Crust: @item.Crust</p>
  <p>Size: @item.Size</p>
  <p>Toppings:</p>

  <ul>
  @foreach (var thing in item.Toppings)
    {
      <li>@thing</li>
    }
  </ul>
}