@{
  ViewData["Title"] = "Home Page";
}
<form asp-controller="Home" asp-action="Order" method="get">
  <input type="text" name="customer" id="customer">
  <button type="submit">Sign in</button>
</form>
